/* src/styles/global.css */
.vstack {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: center;
	justify-content: center;
}

.hstack {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	align-items: center;
	justify-content: center;
}

.ihstack {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	align-items: center;
	justify-content: center;
}

.imageStyle {
	width: 20vw;

  border-radius: 100px; /* Runde Ecken */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Weicher Schatten */
  border: 2px solid #ccc; /* Dünner Rahmen */
  transition: transform 0.3s ease; /* Sanfte Animation */
}
.imageStyle:hover {
  transform: scale(1.25); /* Leichtes Vergrößern beim Drüberfahren */
}


hr {
  color: black;
  border: solid;
  height: 0px;
  width: 120vw;
  margin: 20px 0;
}


